<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
<title>マイページ</title>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<link rel="stylesheet" href="css/base.css" th:href="@{/css/base.css}">
</head>
<body>
	<!--/* 1. ヘッダ */-->
	<section class="hero is-info">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">PCL シフト登録システム</h1>
				<h2 class="subtitle is-6">マイページ</h2>
			</div>
		</div>
	</section>
		<section class="section">
		<div class="container is-max-desktop">
		<form method="post" th:action="@{/mypage}" th:object="${editStaffFrom}">
			<div class="columns is-mobile is-multiline is-centered">
				<table class="table table-bordered table-hover table-striped">
						<tr class="info col-sm-2"><td>スタッフコード</td><td th:text="*{staffCode}"></td></tr>
						<tr class="info col-sm-2"><td>氏名</td><td th:text="*{staffName}"></td></tr>
						<tr class="info col-sm-2"><td>入社年月日</td><td th:text="*{employmentDate}"></td></tr>
						<tr class="info col-sm-2"><td>拠点</td><td>船橋</td></tr>
						<tr class="info col-sm-2"><td>主工程</td><td th:text="*{mainProcess}"></td></tr>
						<tr th:each="workProcess : ${editSubProcessList}" class="info col-sm-2">
    							<td>工程</td>
    							<td th:text="${workProcess.processName}"></td>
						</tr>
						<tr th:each="staffShiftPattern : ${editShiftPatternList}" class="info col-sm-2">
    							<td>シフトパターン</td>
    							<td th:text="${staffShiftPattern.shiftPatternCode}"></td>
						</tr>
		        </table>
			</div>
			</form>
		</div>
	</section>
</body>
</html>