<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.procast.shift.dataaccess.mapper.SubWorkProcessMapper">

	<!-- select -->
	<select id="selectUserSubProcess" resultType="com.procast.shift.entity.SubWorkProcess">
		select
			staffCode
			,subProcessCode
			,effectiveDate
			,expireDate
			,createDate
			,createUser
			,lastUpdateDate
			,lastUpdateUser
		 from staffSubProcess
		 where staffCode = #{staffCode}
	</select>
</mapper>