<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.procast.attendance.dataaccess.mapper.WorkProcessMapper">

	<!-- select -->
	<select id="selectWorkProcessOne" resultType="com.procast.attendance.entity.WorkProcess">
		select
			workBaseCode
			,processCode
			,processName
			,effectiveDate
			,expireDate
		 from processMaster
		 where workBaseCode = #{workBaseCode}
		 and  processCode = #{processCode}
	</select>

	<select id="selectWorkProcessAll" resultType="com.procast.attendance.entity.WorkProcess">
		select
			workBaseCode
			,processCode
			,processName
			,effectiveDate
			,expireDate
		 from processMaster
	</select>

	<!-- insert SQL -->
	<insert id="insertWorkProcessProcess">
		insert into processMaster
		(
			workBaseCode
			,processCode
			,processName
			,effectiveDate
			,expireDate
			,createDate
			,createUser
			,lastUpdatDate
			,lastUpdateUser
		)
		values
		(
			#{workBaseCode}
			,#{processCode}
			,#{processName}
			,#{effectiveDate}
			,#{expireDate}
			,#{createDate}
			,#{createUser}
			,#{lastUpdatDate}
			,#{lastUpdateUser}
		)
	</insert>

	<!-- update SQL -->
	<update id="updateWorkProcess">
		update processMaster
		set
			processName = #{processName}
			,effectiveDate = #{effectiveDate}
			,expireDate = #{expireDate}
			,lastUpdateDate = #{lastUpdateDate}
			,lastUpdateUser = #{lastUpdateUser}
		where workBaseCode = #{workBaseCode}
		and processCode = #{processCode}
	</update>

</mapper>